/* navbar responsive part start here for mobile*/
@media screen and (max-width:576px) {
    .navbar{
        margin-left: 20px;
    }
    .nav-menubar{
       display: none;
    }
    .menubar-icon{
        display: block;
        margin-right: 23px;
    }
    /* banner responsive start */
    .banner{
        flex-direction: column;
        margin-left: 20px;
    }
    .banner-all-info{
        max-width: 100%;
    }
    .banner-all-info h3{
        font-size: 36px;
        font-weight: 900;
    }
    .banner-all-info p{
        margin-right: 70px;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
       gap: 40px;
    }
    .btn1{
        width:169px;
        height: 54px;
        white-space: nowrap;
        /* margin: 0 auto; */
        /* margin-left:0px; */
    }
    .btn1 a{
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .btn2{
        width:169px;
        height: 54px; 
        white-space: nowrap;
        margin: 0 auto;
        margin-left:-30px;
    }
    .btn2 a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .banner-img{
        max-width:100%;
        margin-right: 25px;
    }
    .box1{
        width: 146px;
        height: 74px;
       white-space: nowrap;
       margin-left: -875px;
       margin-top: 210px;   
    }
    .box1 h4{
        font-size: 38.24px;
        font-weight: 900;
    }
    .box1 p{
        font-size: 9.83px;
        font-weight: 400;
        line-height: 15px;
    }
    .box2{
        width: 155.72px;
        height: 72.5px;
        margin-left: 10px;
        margin-top: -315px;
       
    }
    .box2 h6{
        font-size: 18.14px;
        font-weight: 900;
        line-height: 18.14px;
    }
    .box2 p{
        color: rgba(239, 237, 232, 0.65);
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0.3px;
    }

    .icon{
        color: wheat;
        position: absolute;
        margin-left: 15px;
        margin-top: 13px;
        visibility: visible;
    }
    /* banner responsive ends */
    /* habit part responsive start */
    .change-habit{
        margin-top: 0px;
    }
    .habit-info h3{
        font-size: 32px;
        font-weight: 900;
        line-height: 120%;
    }
    .habit-info p{
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    .habit-images{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        margin: 0 auto;
    }
    .card{
       margin: 0 auto;
    }
    /* habit part respnosive ends */
    /* Run an Extra Mile Easily section responsive start here */
    .run-and-mile{
        max-width: 66rem;
        flex-direction: column;
        margin-top: 66px;
    }
    .run-and-mile-all-info{
        margin: 0 33px 31px 33px;
    }
    .run-and-mile-all-info h4{
        font-size: 32px;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }
    .btn-modify{
        width: 350px;
        /* margin-left: 20px; */
    }
    .run-and-mile-img{
        width: 330px;
        height: 170px;
        margin: 0 auto;
    }
    .run-and-mile-img img{
        width: 100%;
        height: 100%; 
        margin-top: 0px;
        object-position: 100% 20%;
        zoom: 28%;
    }
    /* Run an Extra Mile Easily section responsive ends here */
    /* BMI Calculator section start here */
    .bmi-info{
       
        margin-bottom: 32px;
        margin-left: 20px;
      
    }
    .bmi-info h4{
        font-size: 32px;
        margin-left: 10px;
    }
    .bmi-info p{
        font-size: 13px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        margin-right: 60px;
        margin-left: 10px;
    }

    .bmi-calculator{
        flex-direction: column;
    }
    .bmi-Calculator-Chart{
        margin-left: 0px;
        margin-right: 0px;
        margin-left: 25px;
    }
    .bmi-Calculator-Chart h6{
        font-size: 16px;
        margin-bottom: 23px;
        margin-top: 34px;
    }
    .Calculate-your-BMI{
        width: 22.12rem;
    
    }

    .Calculate-your-BMI h6{
        font-size: 16px;
        margin-bottom: 14px;
        margin-top: 42px;
        margin-left: 10px;
    }
    .Calculate-your-BMI p{
        margin-left: 10px;
        margin-right: 40px;
    }
    .all-input{
        width: 100%;
        gap: 10px;
        
    }
    .input{
        width: 60%;
    }
    /* MI Calculator section ends here */ */
}


@media screen and (max-width:375px) {
    .box1{
       margin-left: -900px;
       margin-top: 358px;   
    }
}

/* navbar responsive part end here for mobile */