/* common style start here */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Pinyon+Script&display=swap');
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  
  .pinyon-script-regular {
    font-family: "Pinyon Script";
    font-weight: 400;
    font-style: normal;
  }
.body{
background: rgb(12, 12, 12);
}
/* common style end here */
/* header part style start here */
/* navbar part start here */
header{
    max-width:90rem;
    height: auto;
    border: 2px solid rgb(12, 12, 12);
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);

}
.navbar{
    max-width: 66.25rem;
    max-height: 2.88rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4.07rem;
    margin-bottom:1.56rem;

}
.nav-heading{
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size:2.25rem;
    font-weight: 800;
    line-height: 120%;
    text-align: left;
}
.nav-menubar{
    display: flex;
    gap:2.94rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 8px 10px 8px 2px;

   
}
.nav-menubar li{
    list-style: none;
}
.nav-menubar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
}
.home{
    width: 5.75rem;
    height: 38px;
    padding: 8px 20px 8px 20px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
}
#about{
    margin-right: 14px;
}
.menubar-icon{
    width: 18px;
    color: rgb(255, 255, 255);
    display: none;
}

/* navbar part end here */
/* banner part start here */
/* banner section start here */
.banner{
    max-width: 66rem;
    margin: 0 auto;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.banner-all-info{
    max-width: 65%;
}
.banner-all-info h3{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 auto;
    margin-right: 90px;
    margin-bottom: 24px;
}
.banner-all-info p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin: 0 auto;
    margin-right: 180px;
    margin-bottom: 24px;
}
.btn1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: rgb(230, 83, 60);
    margin-right: 14px;

}
.btn1 a{
   text-decoration: none;
   color: rgb(255, 255, 255);
}
.btn2{
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    width: 224px;
    height: 54px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: none;
    
}
.btn2 a{
    text-decoration: none;
   color: rgb(255, 255, 255);
}
.banner-img{
    max-width: 35%;
}
.image{
    position: relative;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}
.box1{
    width: 193px;
    height: 98px;
    left: 1107px;
    top: 260px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    margin-top: 50px;
    margin-left: 245px;
    
}
.box1 h4{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
    margin: 0 auto;
    text-align: center;
}
.box1 p{
    color: rgba(255, 255, 255, 0.65);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    text-align: center;
}
.box2{
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -166px;
    margin-left: -100px;
}
.box2 h6{
    color: rgb(250, 250, 249);
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin: 0 auto;
}
.box2 p{
    color: rgba(239, 237, 232, 0.65);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;

}
.circle{
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 49%;
    margin-right: 10px;
    position: relative;
}
.icon{
    color: wheat;
    position: absolute;
    margin-left: 15px;
    margin-top: 13px;
    visibility: hidden;
}
/* banner section ends here */
/* change-habit part start here */
.change-habit{
    max-width: 65.25rem;
    margin: 0 auto;
    margin-top: 86px;
}
.habit-info{
  
}
.habit-info h3{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 14px;
}
.habit-info p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 54px;
}
.habit-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 35px;
}
.card{
    max-width: 231px;
}
.card img{
    border-radius: 50%;
    margin: 0 24px 30px 24px;
}
.card h6{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align:center;
    margin: 0 auto;
}
.card p{
    color: rgba(255, 255, 255, 0.5);
font-size: 14px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.3px;
text-align: center;
margin: 0 auto;
margin-top: 10px;
}
/* change-habit part ends here */
/* Run an Extra Mile Easily section start here */
.run-and-mile{
    max-width: 66.25rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
}
.run-and-mile-all-info{
    max-width: 27.68rem;
    margin: 41px 165px 40px 54px;
}
.run-and-mile-all-info h4{
    color: rgb(255, 255, 255);
    margin: 0 auto;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}
.run-and-mile-all-info p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.btn-modify{
        color: rgb(255, 255, 255);
        font-family: Inter;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
        text-align:center;
        width: 224px;
        height: 54px;
        border-radius: 42px;
        padding: 16px 40px 16px 40px;
        background: rgb(230, 83, 60);
        margin-right: 14px;
    }
    .btn-modify a{
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
.run-and-mile-img{
    max-width: 22.87rem;
    max-height: 17.5rem;
    border-radius: 18px;
    background: url(4);
}
.run-and-mile-img img{
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 74% 22%;
    zoom: 62%;
    margin: 40px 32px 29px 0;
}
/* Run an Extra Mile Easily section ends here */
/* <!-- Trainings and Exercises section start here --> */
/* .training-exercises{
    max-width: 66.25rem;
    margin: 0 auto;
    border: 2px solid red;
    margin-top: 100px;
    margin-bottom: 88px;
} */
/* <!-- Trainings and Exercises section ends here --> */
/* BMI Calculator section start here */
.bmi-info{
    max-width: 41.9rem;
    margin: 0 auto;
    margin-bottom: 85px;
    margin-top: 78px;
}
.bmi-info h4{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 14px;
}
.bmi-info p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
/* new */
.bmi-calculator{
    max-width: 90rem;
    margin: 0 auto;
    background: rgb(34, 34, 34);
    display: flex;
    margin-bottom: 88px;
}
.bmi-Calculator-Chart{
    max-width: 19.37rem;
    margin-left: 189px;
    margin-right: 175px;
}
.bmi-Calculator-Chart h6{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 52px;
    margin-top: 52px;
}
table{
    width: 310px;
    height: 216px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    
}
th{
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align:left;
    padding-left: 20px;
    margin-bottom: 20px;
}

td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: 18px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    padding-left: 20px;
}
.Calculate-your-BMI{
    width: 36rem;
    margin-left: 10px;
}
.Calculate-your-BMI h6{
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 14px;
    margin-top: 52px;
}
.Calculate-your-BMI p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 34px;
}
.all-inputs{
    width: 100%;
}
.all-input{
    width: 100%;
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 10px;
    
}
.input{
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    gap: 15px;
    
}
.input4{
    /* width: 170.5px;
    height: 48px; */
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    padding: 12px 40px 12px 20px;
}
option{
    color: rgb(90, 81, 81);
}
.calculate-btn{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 52px;
}
/* BMI Calculator section ends here */
/* meet out team section start here */
.meet-our-team{
    max-width: 66.25rem;
    margin: 0 auto;
}
.meet-our-team-info{
    max-width: 41.93rem;
    margin: 0 auto;
}
.meet-our-team h4{
color: rgb(255, 255, 255);
font-family: Inter;
font-size: 48px;
font-weight: 900;
line-height: 120%;
letter-spacing: 0%;
margin: 0 auto;
text-align: center;
margin-bottom: 14px;

}
.meet-our-team p{
    color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.3px;
text-align: center;
margin-bottom: 58px;
}
.meet-our-team-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* gap: 20px; */
}
.our-team-div1{
    
}
.img{
    width: 20.41rem;
    height: 18rem;
    position: relative;
    margin-bottom: 25px;
}
.img .img1{
    width: 100%;
    height:100%;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2),url(image);
    object-fit: cover;
}
.img .img2{
    width: 100%;
    height:100%;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2),url(image);
    object-fit: cover;
}
.img .img3{
    width: 100%;
    height:100%;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2),url(image);
    object-fit: cover;
    background-size: cover;
}
.img .img4{
    width: 100%;
    height:100%;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2),url(image);
    object-fit: cover;
}
.img .img5{
    width: 100%;
    height:100%;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2),url(image);
    object-fit: cover;
}
.img .img6{
    width: 100%;
    height:100%;
    border-radius: 18px;
    background: rgba(0, 0, 0, 0.2),url(image);
    object-fit: cover;
}
.img-deta1{
    width: 200px;
    position: absolute;
    margin-top: -60px;
    margin-left: 15px;
}
.img-deta1 h6{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 80%;
    letter-spacing: 0%;
    margin: 0 auto;
    text-align:left;
}
.img-deta1 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align:left;
    margin: 0 auto;
    margin-top:5px;
}
.img-deta2{
    width: 200px;
    position: absolute;
    margin-top: -60px;
    margin-left: 15px;
}
.img-deta2 h6{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 80%;
    letter-spacing: 0%;
    margin: 0 auto;
    text-align:left;
}
.img-deta2 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align:left;
    margin: 0 auto;
    margin-top:5px;
}
.img-deta3{
    width: 200px;
    position: absolute;
    margin-top: -60px;
    margin-left: 15px;
}
.img-deta3 h6{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 80%;
    letter-spacing: 0%;
    margin: 0 auto;
    text-align:left;
}
.img-deta3 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align:left;
    margin: 0 auto;
    margin-top:5px;
}
.img-deta4{
    width: 200px;
    position: absolute;
    margin-top: -60px;
    margin-left: 15px;
}
.img-deta4 h6{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 80%;
    letter-spacing: 0%;
    margin: 0 auto;
    text-align:left;
}
.img-deta4 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align:left;
    margin: 0 auto;
    margin-top:5px;
}
.img-deta5{
    width: 200px;
    position: absolute;
    margin-top: -60px;
    margin-left: 15px;
}
.img-deta5 h6{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 80%;
    letter-spacing: 0%;
    margin: 0 auto;
    text-align:left;
}
.img-deta5 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align:left;
    margin: 0 auto;
    margin-top:5px;
}
.img-deta6{
    width: 200px;
    position: absolute;
    margin-top: -60px;
    margin-left: 15px;
}
.img-deta6 h6{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 80%;
    letter-spacing: 0%;
    margin: 0 auto;
    text-align:left;
}
.img-deta6 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align:left;
    margin: 0 auto;
    margin-top:5px;
}
/* meet out team section ends here */
/* unique section start here */
.join-gym{
    width: 66.25rem;
    margin: 0 auto;
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
    background: rgb(34, 34, 34);
    margin-bottom:66px;
}
.gym-img{
    width: 40.5%;
    height: auto;
    object-fit: cover;
}
.gym-img img{
    width: 100%;
}
.information{
    /* width: 60%; */
}
.information h4{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3px;
}
.information h5{
    color: rgb(223, 18, 18);
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    margin: 0 auto;
    text-align:center;
    margin-bottom: 10px;
}
.information p{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align:center;
    margin: 0 auto;
    margin-bottom: 30px;
}
.your-info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    margin-bottom:30px;
}
.your-input{
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    gap: 15px;
}
.gym-btn{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    width: 240px;
    height: 54px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    background: rgb(230, 83, 60);
    margin: 0 auto;
    margin-left: 180px;
}
.gym-btn a{
    text-decoration: none;
     color: rgb(255, 255, 255);
 }
/* unique section ends here */
/* footer part start here */
footer{
    
    max-width: 90rem;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
}
.main-footers{
    max-width: 66.18rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 79px;

}
.main-footer1{
    width: 443px;
    margin-right: 102px;
}
.main-footer1 h3{
    font-size: 70px;
    font-weight: 800;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 20px;
    margin-top: 66px;
}
.main-footer1 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin-bottom: 30px;
}
.main-footer2 h5{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 39px;
    margin-top: 66px;
}
.main-footer2 li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
.main-footer3 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
}
.main-footer3 h5{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 39px;
    margin-top: 66px;
}
.main-footer3 li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 23px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}
hr{
    max-width: 66.25rem;
    margin: 0 auto;  
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 36px;
}
.footer-last{
    width: 320px;
    height: 24px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin: 0 auto;
    /* margin-bottom: 35px; */
    padding-bottom: 35px;
}
/* footer part ends here */